* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 370px;
    min-height: 100vh;
    margin: 0;
    padding: 0;   

    background-image: repeating-linear-gradient(45deg, yellow 25px, black 25px, black 50px, yellow 50px, yellow 75px, black 75px);
}